@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: #cb6ce6;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #aeaeae;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #cb6ce6;
}

/* Apply Kanit font to all elements */
* {
  font-family: "Kanit", sans-serif !important;
}

/* Optional: Apply different weights for specific elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", sans-serif;
  font-weight: 600; /* Bold headings */
}

p,
label,
button,
input,
textarea {
  font-family: "Kanit", sans-serif;
  font-weight: 400; /* Regular weight for body text and form elements */
}
