.input-box {
  width: 100%;
  border-radius: 0.375rem;
  padding: 1rem;
  background-color: #f0f0f0;
  padding-left: 3rem;
  border: 1px solid #f0f0f0;
}

.input-box:focus {
  background-color: transparent;
}

.input-box::placeholder {
  color: #000;
}

input:disabled,
input:disabled ~ .input-icon {
  opacity: 0.5;
}

.input-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
