/* reset-password.css */

body {
  /* background: linear-gradient(to right, #f9f0ff, aliceblue); */
  border-radius: 1rem;
  padding: 2rem; /* Padding เพิ่มเติม */
  height: 100vh;
}

.form-reset {
  background-color: white; /* ให้พื้นหลังของฟอร์มเป็นสีขาว */
  padding: 15%;
  width: 500px;
  border-radius: 1rem; /* ให้ฟอร์มมีมุมโค้ง */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* เงาให้กับฟอร์ม */
}
/* ButtonStyles.css */

.styled-button {
  background-color: #151111;
  color: #ffffff;
  margin-top: 20px; /* ค่าของ margin-top */
  margin-bottom: 20px; /* ค่าของ margin-bottom */
  width: 150px;
}

.styled-button:hover {
  background-color: #151111; /* การเปลี่ยนสีเมื่อ hover */
}
